<div class="container">
  <p>Total requests: {{ searchParamsHistory.length }}</p>
  <mat-card
    *ngFor="let params of searchParamsHistory"
    (click)="selectSearch(params)"
  >
    <p>Search By: {{ params.searchBy }}</p>
    <p>
      In: {{ params.byName ? "name, " : null }}
      {{ params.byDescription ? "description, " : null }}
      {{ params.byReadme ? "readme" : null }}
    </p>
    <p>User name: {{ params.userName }}</p>
    <p>Organization: {{ params.organization }}</p>
    <p>Language: {{ params.languages }}</p>
    <p>Topic: {{ params.topics }}</p>
    <p>
      Stars:{{ params.starsBy }} -
      {{ params.stars ? params.stars : params.starsStart }}
    </p>
    <p>Size: {{ params.sizeBy }} - {{ params.size }}</p>
    <p>Created: {{ params.createdBy }} - {{ params.created }}</p>
  </mat-card>
</div>
