mat-expansion-panel-header {
  height: 100px;
  @media only screen and (max-width: 960px) {
    height: 250px;
  }
}
#search-form {
  margin-top: 1rem;
  display: flex;
  align-items: flex-start;
  width: 98%;
  justify-content: space-between;
  .checkbox {
    margin: 0 1rem;
  }
  #error-msg {
    color: #f44336;
    font-size: 11px;
  }
  .flex {
    display: flex;
    @media only screen and (max-width: 960px) {
      flex-direction: column;
    }
  }
  @media only screen and (max-width: 960px) {
    flex-direction: column;
    mat-form-field {
      width: 90%;
    }
  }
}

#advanced-search-form {
  margin-top: 3rem;
  .full-width {
    width: 90%;
  }
  .advanced-form-section {
    margin: 2rem 0;
    mat-radio-button {
      margin-right: 1rem;
    }
    mat-form-field {
      margin-right: 1rem;
    }
    .label-with-icon {
      display: flex;
      align-items: center;
      width: 100px;
      font-weight: bold;
      mat-icon {
        margin-right: 0.5rem;
      }
    }
  }
}

.button {
  width: 120px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
